{
  "openapi": "3.0.3",
  "info": {
    "title": "Lemmy API",
    "version": "0.20.0-private-community.2"
  },
  "servers": [
    {
      "url": "https://lemy.lol/api/v3"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "externalDocs": {
    "description": "Official Lemmy documentation",
    "url": "https://join-lemmy.org/api/index.html"
  },
  "tags": [
    {
      "name": "Site"
    },
    {
      "name": "User"
    },
    {
      "name": "User/Totp"
    },
    {
      "name": "Account"
    },
    {
      "name": "Admin"
    },
    {
      "name": "Modlog"
    },
    {
      "name": "Search"
    },
    {
      "name": "ResolveObject"
    },
    {
      "name": "Community"
    },
    {
      "name": "Community/PendingFollows"
    },
    {
      "name": "Post"
    },
    {
      "name": "Post/Like"
    },
    {
      "name": "Post/Report"
    },
    {
      "name": "Comment"
    },
    {
      "name": "Comment/Like"
    },
    {
      "name": "Comment/Report"
    },
    {
      "name": "PrivateMessage"
    },
    {
      "name": "PrivateMessage/Report"
    },
    {
      "name": "User/Mention"
    },
    {
      "name": "Admin/RegistrationApplication"
    },
    {
      "name": "Admin/Purge"
    },
    {
      "name": "CustomEmoji"
    },
    {
      "name": "Admin/Tagline"
    },
    {
      "name": "OauthProvider"
    },
    {
      "name": "Oauth"
    },
    {
      "name": "FederatedInstances"
    },
    {
      "name": "Pictrs/Image"
    }
  ],
  "paths": {
    "/site": {
      "get": {
        "operationId": "getSite",
        "description": "Gets the site, and your user data.",
        "tags": [
          "Site"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSite",
        "description": "Create your site.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSite"
              }
            }
          }
        },
        "tags": [
          "Site"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "editSite",
        "description": "Edit your site.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditSite"
              }
            }
          }
        },
        "tags": [
          "Site"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/leave_admin": {
      "post": {
        "operationId": "leaveAdmin",
        "description": "Leave the Site admins.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/totp/generate": {
      "post": {
        "operationId": "generateTotpSecret",
        "description": "Generate a TOTP / two-factor secret.\nAfterwards you need to call `/user/totp/update` with a valid token to enable it.",
        "tags": [
          "User/Totp"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTotpSecretResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/export_settings": {
      "get": {
        "operationId": "exportSettings",
        "description": "Export a backup of your user settings, including your saved content,\nfollowed communities, and blocks.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "No content"
          }
        }
      }
    },
    "/user/import_settings": {
      "post": {
        "operationId": "importSettings",
        "description": "Import a backup of your user settings.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/list_logins": {
      "get": {
        "operationId": "listLogins",
        "description": "List login tokens for your user",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "No content"
          }
        }
      }
    },
    "/user/validate_auth": {
      "get": {
        "operationId": "validateAuth",
        "description": "Returns an error message if your auth token is invalid",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/list_media": {
      "get": {
        "operationId": "listMedia",
        "description": "List all the media for your user",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListMedia/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListMedia/properties/limit"
            }
          }
        ],
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMediaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/list_all_media": {
      "get": {
        "operationId": "listAllMedia",
        "description": "List all the media known to your instance.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListMedia/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListMedia/properties/limit"
            }
          }
        ],
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMediaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/totp/update": {
      "post": {
        "operationId": "updateTotp",
        "description": "Enable / Disable TOTP / two-factor authentication.\nTo enable, you need to first call `/user/totp/generate` and then pass a valid token to this.\nDisabling is only possible if 2FA was previously enabled. Again it is necessary to pass a valid token.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTotp"
              }
            }
          }
        },
        "tags": [
          "User/Totp"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTotpResponse"
                }
              }
            }
          }
        }
      }
    },
    "/modlog": {
      "get": {
        "operationId": "getModlog",
        "description": "Get the modlog.",
        "parameters": [
          {
            "name": "mod_person_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetModlog/properties/mod_person_id"
            }
          },
          {
            "name": "community_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetModlog/properties/community_id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetModlog/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetModlog/properties/limit"
            }
          },
          {
            "name": "type_",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetModlog/properties/type_"
            }
          },
          {
            "name": "other_person_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetModlog/properties/other_person_id"
            }
          },
          {
            "name": "post_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetModlog/properties/post_id"
            }
          },
          {
            "name": "comment_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetModlog/properties/comment_id"
            }
          }
        ],
        "tags": [
          "Modlog"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetModlogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "search",
        "description": "Search lemmy.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/q"
            }
          },
          {
            "name": "community_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/community_id"
            }
          },
          {
            "name": "community_name",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/community_name"
            }
          },
          {
            "name": "creator_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/creator_id"
            }
          },
          {
            "name": "type_",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/type_"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/sort"
            }
          },
          {
            "name": "listing_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/listing_type"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/limit"
            }
          },
          {
            "name": "title_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/title_only"
            }
          },
          {
            "name": "post_url_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/post_url_only"
            }
          },
          {
            "name": "saved_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/saved_only"
            }
          },
          {
            "name": "liked_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/liked_only"
            }
          },
          {
            "name": "disliked_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Search/properties/disliked_only"
            }
          }
        ],
        "tags": [
          "Search"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/resolve_object": {
      "get": {
        "operationId": "resolveObject",
        "description": "Fetch a non-local / federated object.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ResolveObject/properties/q"
            }
          }
        ],
        "tags": [
          "ResolveObject"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveObjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community": {
      "post": {
        "operationId": "createCommunity",
        "description": "Create a new community.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommunity"
              }
            }
          }
        },
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getCommunity",
        "description": "Get / fetch a community.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetCommunity/properties/id"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetCommunity/properties/name"
            }
          }
        ],
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommunityResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "editCommunity",
        "description": "Edit a community.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditCommunity"
              }
            }
          }
        },
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/list": {
      "get": {
        "operationId": "listCommunities",
        "description": "List communities, with various filters.",
        "parameters": [
          {
            "name": "type_",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommunities/properties/type_"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommunities/properties/sort"
            }
          },
          {
            "name": "show_nsfw",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommunities/properties/show_nsfw"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommunities/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommunities/properties/limit"
            }
          }
        ],
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCommunitiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/follow": {
      "post": {
        "operationId": "followCommunity",
        "description": "Follow / subscribe to a community.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FollowCommunity"
              }
            }
          }
        },
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/pending_follows/count": {
      "get": {
        "operationId": "getCommunityPendingFollowsCount",
        "parameters": [
          {
            "name": "community_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetCommunityPendingFollowsCount/properties/community_id"
            }
          }
        ],
        "tags": [
          "Community/PendingFollows"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommunityPendingFollowsCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/pending_follows/list": {
      "get": {
        "operationId": "listCommunityPendingFollows",
        "parameters": [
          {
            "name": "community_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommunityPendingFollows/properties/community_id"
            }
          },
          {
            "name": "pending_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommunityPendingFollows/properties/pending_only"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommunityPendingFollows/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommunityPendingFollows/properties/limit"
            }
          }
        ],
        "tags": [
          "Community/PendingFollows"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCommunityPendingFollowsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/pending_follows/approve": {
      "post": {
        "operationId": "approveCommunityPendingFollow",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveCommunityPendingFollows"
              }
            }
          }
        },
        "tags": [
          "Community/PendingFollows"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/block": {
      "post": {
        "operationId": "blockCommunity",
        "description": "Block a community.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockCommunity"
              }
            }
          }
        },
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockCommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/delete": {
      "post": {
        "operationId": "deleteCommunity",
        "description": "Delete a community.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCommunity"
              }
            }
          }
        },
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/hide": {
      "put": {
        "operationId": "hideCommunity",
        "description": "Hide a community from public / \"All\" view. Admins only.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HideCommunity"
              }
            }
          }
        },
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/remove": {
      "post": {
        "operationId": "removeCommunity",
        "description": "A moderator remove for a community.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCommunity"
              }
            }
          }
        },
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/transfer": {
      "post": {
        "operationId": "transferCommunity",
        "description": "Transfer your community to an existing moderator.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferCommunity"
              }
            }
          }
        },
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/ban_user": {
      "post": {
        "operationId": "banFromCommunity",
        "description": "Ban a user from a community.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BanFromCommunity"
              }
            }
          }
        },
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BanFromCommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/mod": {
      "post": {
        "operationId": "addModToCommunity",
        "description": "Add a moderator to your community.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddModToCommunity"
              }
            }
          }
        },
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddModToCommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/random": {
      "get": {
        "operationId": "getRandomCommunity",
        "description": "Get a random community.",
        "parameters": [
          {
            "name": "type_",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetRandomCommunity/properties/type_"
            }
          }
        ],
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post": {
      "post": {
        "operationId": "createPost",
        "description": "Create a post.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePost"
              }
            }
          }
        },
        "tags": [
          "Post"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getPost",
        "description": "Get / fetch a post.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPost/properties/id"
            }
          },
          {
            "name": "comment_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPost/properties/comment_id"
            }
          }
        ],
        "tags": [
          "Post"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPostResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "editPost",
        "description": "Edit a post.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditPost"
              }
            }
          }
        },
        "tags": [
          "Post"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/delete": {
      "post": {
        "operationId": "deletePost",
        "description": "Delete a post.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePost"
              }
            }
          }
        },
        "tags": [
          "Post"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/remove": {
      "post": {
        "operationId": "removePost",
        "description": "A moderator remove for a post.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemovePost"
              }
            }
          }
        },
        "tags": [
          "Post"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/mark_as_read": {
      "post": {
        "operationId": "markPostAsRead",
        "description": "Mark a post as read.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkPostAsRead"
              }
            }
          }
        },
        "tags": [
          "Post"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/hide": {
      "post": {
        "operationId": "hidePost",
        "description": "Hide a post from list views.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HidePost"
              }
            }
          }
        },
        "tags": [
          "Post"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/lock": {
      "post": {
        "operationId": "lockPost",
        "description": "A moderator can lock a post ( IE disable new comments ).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LockPost"
              }
            }
          }
        },
        "tags": [
          "Post"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/feature": {
      "post": {
        "operationId": "featurePost",
        "description": "A moderator can feature a community post ( IE stick it to the top of a community ).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeaturePost"
              }
            }
          }
        },
        "tags": [
          "Post"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/list": {
      "get": {
        "operationId": "getPosts",
        "description": "Get / fetch posts, with various filters.",
        "parameters": [
          {
            "name": "type_",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts/properties/type_"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts/properties/sort"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts/properties/limit"
            }
          },
          {
            "name": "community_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts/properties/community_id"
            }
          },
          {
            "name": "community_name",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts/properties/community_name"
            }
          },
          {
            "name": "saved_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts/properties/saved_only"
            }
          },
          {
            "name": "liked_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts/properties/liked_only"
            }
          },
          {
            "name": "disliked_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts/properties/disliked_only"
            }
          },
          {
            "name": "show_hidden",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts/properties/show_hidden"
            }
          },
          {
            "name": "show_read",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts/properties/show_read"
            }
          },
          {
            "name": "show_nsfw",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts/properties/show_nsfw"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPosts/properties/page_cursor"
            }
          }
        ],
        "tags": [
          "Post"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPostsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/like": {
      "post": {
        "operationId": "likePost",
        "description": "Like / vote on a post.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostLike"
              }
            }
          }
        },
        "tags": [
          "Post/Like"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/like/list": {
      "get": {
        "operationId": "listPostLikes",
        "description": "List a post's likes. Admin-only.",
        "parameters": [
          {
            "name": "post_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListPostLikes/properties/post_id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListPostLikes/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListPostLikes/properties/limit"
            }
          }
        ],
        "tags": [
          "Post/Like"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPostLikesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/save": {
      "put": {
        "operationId": "savePost",
        "description": "Save a post.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SavePost"
              }
            }
          }
        },
        "tags": [
          "Post"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/report": {
      "post": {
        "operationId": "createPostReport",
        "description": "Report a post.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostReport"
              }
            }
          }
        },
        "tags": [
          "Post/Report"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/report/resolve": {
      "put": {
        "operationId": "resolvePostReport",
        "description": "Resolve a post report. Only a mod can do this.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolvePostReport"
              }
            }
          }
        },
        "tags": [
          "Post/Report"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/report/list": {
      "get": {
        "operationId": "listPostReports",
        "description": "List post reports.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListPostReports/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListPostReports/properties/limit"
            }
          },
          {
            "name": "unresolved_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListPostReports/properties/unresolved_only"
            }
          },
          {
            "name": "community_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListPostReports/properties/community_id"
            }
          },
          {
            "name": "post_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListPostReports/properties/post_id"
            }
          }
        ],
        "tags": [
          "Post/Report"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPostReportsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/site_metadata": {
      "get": {
        "operationId": "getSiteMetadata",
        "description": "Fetch metadata for any given site.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetSiteMetadata/properties/url"
            }
          }
        ],
        "tags": [
          "Post"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteMetadataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment": {
      "post": {
        "operationId": "createComment",
        "description": "Create a comment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComment"
              }
            }
          }
        },
        "tags": [
          "Comment"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "editComment",
        "description": "Edit a comment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditComment"
              }
            }
          }
        },
        "tags": [
          "Comment"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getComment",
        "description": "Get / fetch comment.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetComment/properties/id"
            }
          }
        ],
        "tags": [
          "Comment"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/delete": {
      "post": {
        "operationId": "deleteComment",
        "description": "Delete a comment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteComment"
              }
            }
          }
        },
        "tags": [
          "Comment"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/remove": {
      "post": {
        "operationId": "removeComment",
        "description": "A moderator remove for a comment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveComment"
              }
            }
          }
        },
        "tags": [
          "Comment"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/mark_as_read": {
      "post": {
        "operationId": "markCommentReplyAsRead",
        "description": "Mark a comment as read.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkCommentReplyAsRead"
              }
            }
          }
        },
        "tags": [
          "Comment"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentReplyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/like": {
      "post": {
        "operationId": "likeComment",
        "description": "Like / vote on a comment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentLike"
              }
            }
          }
        },
        "tags": [
          "Comment/Like"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/like/list": {
      "get": {
        "operationId": "listCommentLikes",
        "description": "List a comment's likes. Admin-only.",
        "parameters": [
          {
            "name": "comment_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommentLikes/properties/comment_id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommentLikes/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommentLikes/properties/limit"
            }
          }
        ],
        "tags": [
          "Comment/Like"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCommentLikesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/save": {
      "put": {
        "operationId": "saveComment",
        "description": "Save a comment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveComment"
              }
            }
          }
        },
        "tags": [
          "Comment"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/distinguish": {
      "post": {
        "operationId": "distinguishComment",
        "description": "Distinguishes a comment (speak as moderator)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistinguishComment"
              }
            }
          }
        },
        "tags": [
          "Comment"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/list": {
      "get": {
        "operationId": "getComments",
        "description": "Get / fetch comments.",
        "parameters": [
          {
            "name": "type_",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetComments/properties/type_"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetComments/properties/sort"
            }
          },
          {
            "name": "max_depth",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetComments/properties/max_depth"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetComments/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetComments/properties/limit"
            }
          },
          {
            "name": "community_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetComments/properties/community_id"
            }
          },
          {
            "name": "community_name",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetComments/properties/community_name"
            }
          },
          {
            "name": "post_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetComments/properties/post_id"
            }
          },
          {
            "name": "parent_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetComments/properties/parent_id"
            }
          },
          {
            "name": "saved_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetComments/properties/saved_only"
            }
          },
          {
            "name": "liked_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetComments/properties/liked_only"
            }
          },
          {
            "name": "disliked_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetComments/properties/disliked_only"
            }
          }
        ],
        "tags": [
          "Comment"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/report": {
      "post": {
        "operationId": "createCommentReport",
        "description": "Report a comment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentReport"
              }
            }
          }
        },
        "tags": [
          "Comment/Report"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/report/resolve": {
      "put": {
        "operationId": "resolveCommentReport",
        "description": "Resolve a comment report. Only a mod can do this.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveCommentReport"
              }
            }
          }
        },
        "tags": [
          "Comment/Report"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/report/list": {
      "get": {
        "operationId": "listCommentReports",
        "description": "List comment reports.",
        "parameters": [
          {
            "name": "comment_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommentReports/properties/comment_id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommentReports/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommentReports/properties/limit"
            }
          },
          {
            "name": "unresolved_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommentReports/properties/unresolved_only"
            }
          },
          {
            "name": "community_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCommentReports/properties/community_id"
            }
          }
        ],
        "tags": [
          "Comment/Report"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCommentReportsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message/list": {
      "get": {
        "operationId": "getPrivateMessages",
        "description": "Get / fetch private messages.",
        "parameters": [
          {
            "name": "unread_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPrivateMessages/properties/unread_only"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPrivateMessages/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPrivateMessages/properties/limit"
            }
          },
          {
            "name": "creator_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPrivateMessages/properties/creator_id"
            }
          }
        ],
        "tags": [
          "PrivateMessage"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessagesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message": {
      "post": {
        "operationId": "createPrivateMessage",
        "description": "Create a private message.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrivateMessage"
              }
            }
          }
        },
        "tags": [
          "PrivateMessage"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "editPrivateMessage",
        "description": "Edit a private message.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditPrivateMessage"
              }
            }
          }
        },
        "tags": [
          "PrivateMessage"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message/delete": {
      "post": {
        "operationId": "deletePrivateMessage",
        "description": "Delete a private message.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePrivateMessage"
              }
            }
          }
        },
        "tags": [
          "PrivateMessage"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message/mark_as_read": {
      "post": {
        "operationId": "markPrivateMessageAsRead",
        "description": "Mark a private message as read.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkPrivateMessageAsRead"
              }
            }
          }
        },
        "tags": [
          "PrivateMessage"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message/report": {
      "post": {
        "operationId": "createPrivateMessageReport",
        "description": "Create a report for a private message.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrivateMessageReport"
              }
            }
          }
        },
        "tags": [
          "PrivateMessage/Report"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message/report/resolve": {
      "put": {
        "operationId": "resolvePrivateMessageReport",
        "description": "Resolve a report for a private message.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolvePrivateMessageReport"
              }
            }
          }
        },
        "tags": [
          "PrivateMessage/Report"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message/report/list": {
      "get": {
        "operationId": "listPrivateMessageReports",
        "description": "List private message reports.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListPrivateMessageReports/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListPrivateMessageReports/properties/limit"
            }
          },
          {
            "name": "unresolved_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListPrivateMessageReports/properties/unresolved_only"
            }
          }
        ],
        "tags": [
          "PrivateMessage/Report"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPrivateMessageReportsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "operationId": "register",
        "description": "Register a new user.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Register"
              }
            }
          }
        },
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "operationId": "login",
        "description": "Log into lemmy.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          }
        },
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/logout": {
      "post": {
        "operationId": "logout",
        "description": "Invalidate the currently used auth token.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "operationId": "getPersonDetails",
        "description": "Get the details for a person.",
        "parameters": [
          {
            "name": "person_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPersonDetails/properties/person_id"
            }
          },
          {
            "name": "username",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPersonDetails/properties/username"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPersonDetails/properties/sort"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPersonDetails/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPersonDetails/properties/limit"
            }
          },
          {
            "name": "community_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPersonDetails/properties/community_id"
            }
          },
          {
            "name": "saved_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPersonDetails/properties/saved_only"
            }
          }
        ],
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPersonDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/mention": {
      "get": {
        "operationId": "getPersonMentions",
        "description": "Get mentions for your user.",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPersonMentions/properties/sort"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPersonMentions/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPersonMentions/properties/limit"
            }
          },
          {
            "name": "unread_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetPersonMentions/properties/unread_only"
            }
          }
        ],
        "tags": [
          "User/Mention"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPersonMentionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/mention/mark_as_read": {
      "post": {
        "operationId": "markPersonMentionAsRead",
        "description": "Mark a person mention as read.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkPersonMentionAsRead"
              }
            }
          }
        },
        "tags": [
          "User/Mention"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonMentionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/replies": {
      "get": {
        "operationId": "getReplies",
        "description": "Get comment replies.",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetReplies/properties/sort"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetReplies/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetReplies/properties/limit"
            }
          },
          {
            "name": "unread_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetReplies/properties/unread_only"
            }
          }
        ],
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRepliesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/ban": {
      "post": {
        "operationId": "banPerson",
        "description": "Ban a person from your site.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BanPerson"
              }
            }
          }
        },
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BanPersonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/banned": {
      "get": {
        "operationId": "getBannedPersons",
        "description": "Get a list of banned users",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BannedPersonsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/block": {
      "post": {
        "operationId": "blockPerson",
        "description": "Block a person.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockPerson"
              }
            }
          }
        },
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockPersonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/get_captcha": {
      "get": {
        "operationId": "getCaptcha",
        "description": "Fetch a Captcha.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCaptchaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/delete_account": {
      "post": {
        "operationId": "deleteAccount",
        "description": "Delete your account.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccount"
              }
            }
          }
        },
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/password_reset": {
      "post": {
        "operationId": "passwordReset",
        "description": "Reset your password.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordReset"
              }
            }
          }
        },
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/password_change": {
      "post": {
        "operationId": "passwordChangeAfterReset",
        "description": "Change your password from an email / token based reset.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordChangeAfterReset"
              }
            }
          }
        },
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/mark_all_as_read": {
      "post": {
        "operationId": "markAllAsRead",
        "description": "Mark all replies as read.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRepliesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/save_user_settings": {
      "put": {
        "operationId": "saveUserSettings",
        "description": "Save your user settings.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveUserSettings"
              }
            }
          }
        },
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/change_password": {
      "put": {
        "operationId": "changePassword",
        "description": "Change your user password.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePassword"
              }
            }
          }
        },
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/report_count": {
      "get": {
        "operationId": "getReportCount",
        "description": "Get counts for your reports",
        "parameters": [
          {
            "name": "community_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetReportCount/properties/community_id"
            }
          }
        ],
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReportCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/unread_count": {
      "get": {
        "operationId": "getUnreadCount",
        "description": "Get your unread counts",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnreadCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/verify_email": {
      "post": {
        "operationId": "verifyEmail",
        "description": "Verify your email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmail"
              }
            }
          }
        },
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/add": {
      "post": {
        "operationId": "addAdmin",
        "description": "Add an admin to your site.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAdmin"
              }
            }
          }
        },
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddAdminResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/registration_application/count": {
      "get": {
        "operationId": "getUnreadRegistrationApplicationCount",
        "description": "Get the unread registration applications count.",
        "tags": [
          "Admin/RegistrationApplication"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnreadRegistrationApplicationCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/registration_application/list": {
      "get": {
        "operationId": "listRegistrationApplications",
        "description": "List the registration applications.",
        "parameters": [
          {
            "name": "unread_only",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListRegistrationApplications/properties/unread_only"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListRegistrationApplications/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListRegistrationApplications/properties/limit"
            }
          }
        ],
        "tags": [
          "Admin/RegistrationApplication"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRegistrationApplicationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/registration_application/approve": {
      "put": {
        "operationId": "approveRegistrationApplication",
        "description": "Approve a registration application",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveRegistrationApplication"
              }
            }
          }
        },
        "tags": [
          "Admin/RegistrationApplication"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationApplicationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/registration_application": {
      "get": {
        "operationId": "getRegistrationApplication",
        "description": "Get the application a user submitted when they first registered their account",
        "parameters": [
          {
            "name": "person_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetRegistrationApplication/properties/person_id"
            }
          }
        ],
        "tags": [
          "Admin/RegistrationApplication"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationApplicationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/purge/person": {
      "post": {
        "operationId": "purgePerson",
        "description": "Purge / Delete a person from the database.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgePerson"
              }
            }
          }
        },
        "tags": [
          "Admin/Purge"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/purge/community": {
      "post": {
        "operationId": "purgeCommunity",
        "description": "Purge / Delete a community from the database.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgeCommunity"
              }
            }
          }
        },
        "tags": [
          "Admin/Purge"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/purge/post": {
      "post": {
        "operationId": "purgePost",
        "description": "Purge / Delete a post from the database.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgePost"
              }
            }
          }
        },
        "tags": [
          "Admin/Purge"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/purge/comment": {
      "post": {
        "operationId": "purgeComment",
        "description": "Purge / Delete a comment from the database.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgeComment"
              }
            }
          }
        },
        "tags": [
          "Admin/Purge"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom_emoji": {
      "post": {
        "operationId": "createCustomEmoji",
        "description": "Create a new custom emoji",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomEmoji"
              }
            }
          }
        },
        "tags": [
          "CustomEmoji"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEmojiResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "editCustomEmoji",
        "description": "Edit an existing custom emoji",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditCustomEmoji"
              }
            }
          }
        },
        "tags": [
          "CustomEmoji"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEmojiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom_emoji/delete": {
      "post": {
        "operationId": "deleteCustomEmoji",
        "description": "Delete a custom emoji",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCustomEmoji"
              }
            }
          }
        },
        "tags": [
          "CustomEmoji"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom_emoji/list": {
      "get": {
        "operationId": "listCustomEmojis",
        "description": "List custom emojis",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCustomEmojis/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCustomEmojis/properties/limit"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCustomEmojis/properties/category"
            }
          },
          {
            "name": "ignore_page_limits",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListCustomEmojis/properties/ignore_page_limits"
            }
          }
        ],
        "tags": [
          "CustomEmoji"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomEmojisResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/tagline": {
      "post": {
        "operationId": "createTagline",
        "description": "Create a new tagline",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTagline"
              }
            }
          }
        },
        "tags": [
          "Admin/Tagline"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaglineResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "editTagline",
        "description": "Edit an existing tagline",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTagline"
              }
            }
          }
        },
        "tags": [
          "Admin/Tagline"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaglineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/tagline/delete": {
      "post": {
        "operationId": "deleteTagline",
        "description": "Delete a tagline",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTagline"
              }
            }
          }
        },
        "tags": [
          "Admin/Tagline"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/tagline/list": {
      "get": {
        "operationId": "listTaglines",
        "description": "List taglines",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListTaglines/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListTaglines/properties/limit"
            }
          }
        ],
        "tags": [
          "Admin/Tagline"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTaglinesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth_provider": {
      "post": {
        "operationId": "createOAuthProvider",
        "description": "Create a new oauth provider method",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOAuthProvider"
              }
            }
          }
        },
        "tags": [
          "OauthProvider"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthProvider"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "editOAuthProvider",
        "description": "Edit an existing oauth provider method",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditOAuthProvider"
              }
            }
          }
        },
        "tags": [
          "OauthProvider"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthProvider"
                }
              }
            }
          }
        }
      }
    },
    "/oauth_provider/delete": {
      "post": {
        "operationId": "deleteOAuthProvider",
        "description": "Delete an oauth provider method",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteOAuthProvider"
              }
            }
          }
        },
        "tags": [
          "OauthProvider"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/authenticate": {
      "post": {
        "operationId": "authenticateWithOAuth",
        "description": "Authenticate with OAuth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateWithOauth"
              }
            }
          }
        },
        "tags": [
          "Oauth"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/federated_instances": {
      "get": {
        "operationId": "getFederatedInstances",
        "description": "Fetch federated instances.",
        "tags": [
          "FederatedInstances"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFederatedInstancesResponse"
                }
              }
            }
          }
        }
      }
    },
[...]
